* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */

.navbar {
  border-bottom: #ff6633 1px solid;
}

.arek {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  color: #ff6633;
  margin-left: 40px;
  
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  margin-left: 55%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;

}

.button.is-primary {
  background-color: #ff6633;
}

.button.is-primary:hover {
  background-color: #ff8c66;
}

/* Hero */

.hero-container {
  width: 1440px;
  height: 530px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-headline {
width: 489px;
  height: 44px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  display: flex;
  align-self: center;
  margin-top: 40px;
}

.hero-subtext {
  width: 324px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  display: flex;
  align-self: center;
  margin-top: 20px;
}

.hero-illustration {
  width: 691px;
  height: 362px;
  display: flex;
  align-self: center;
  margin-top: 40px;
}

/* About */

.about-container {
  width: 1440px;
  height: 459px;
  background-color: #ff6633;
  margin-top: -13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-title { 
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-self: center;
  margin-top: -50px;

}

.about-text {
  width: 588px;
  height: 92px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-self: center;
  margin-top: 20px;
}

/* Services */

.services-container {
  display: flex;
  justify-content: center;
}

/* Research */

.research-container {
  width: 335px;
  height: 638px;
  border-radius: 8px 0px 0px 8px;
  border: solid 1px #979797;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.research-headline {
  width: 94px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.research-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.research-list {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

/* Design */

.design-container {
  width: 335px;
  height: 638px;
  border-radius: 0px;
  border: solid 1px #979797;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.design-headline {
  width: 94px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.design-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.design-list {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

/* Development */

.development-container {
  width: 335px;
  height: 638px;
  border-radius: 0px 8px 8px 0px;
  border: solid 1px #979797;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.development-headline {
  width: 94px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.development-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.development-list {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

/* Footer */

.footer {
  width: 1440px;
  height: 350px;
  background-color: #ff6633;
}

.footer-text {
  color:white;
}